@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Theme Support */
:root{
    --white: #fff;
    --black: #000;
}

.light-theme{
    --font-color: var(--black);
    --background-color: var(--white);
    --color: var(--black)
}

.dark-theme{
    --font-color: var(--white);
    --background-color: var(--black);
    --color: var(--white)
}

body{
    background-color: var(--background-color);
    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
    overflow-x: hidden;
}

#divider{
    height: 1%;
    color: var(--background-color);
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

p, a{
    font-family: Inter, sans-serif;
    color: var(--font-color);
    text-decoration: none;
}

#text{
    font-size: 2.5rem;
}

.deploy-button{
    margin-top: 450%;
}

@media (max-width: 600px){
    .box{
        padding: 0 2rem;
    }
}